# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Moje\Programiranje\Kotlin\RMA-LV4\MVVMArchitectureAndroidBeginners\.idea/dataSources/
/dataSources.local.xml
